.aboutContainer {
  width: 100%;
  height: auto;
  min-height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.aboutContent {
  width: 100%;
  min-height: 200px;
}

.aboutText {
  width: 60%;
  height: auto;
}

.textContainer {
  margin-top: 50px;
}

.imageContainer {
  width: 30%;
  height: auto;
}

.imageOfMe {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    align-items: center;
  }

  .aboutText,
  .imageContainer {
    width: 90%;
  }

  .textContainer {
    margin-top: 20px;
  }
}
