.contactDetailsContainer {
  width: 30%;
  max-height: 500px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--primary);
  display: flex;
  text-align: left;
  border: 1px solid var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}

.contactContent {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linksContainer {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.contactButton {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.contactButton:hover {
  background-color: var(--purple);
  color: var(--white);
}

.bi-github,
.bi-linkedin,
.bi-envelope-at-fill {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

@media screen and (max-width: 950px) {
  .contactDetailsContainer {
    width: 70%;
  }

  .linksContainer {
    width: 90%;
  }
}
