.loader {
  border: 20px solid var(--white);
  border-top: 20px solid var(--light-purple);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: 1000;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 20%;
}

.loaderHidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
