/* Color palette */
:root {
  --primary: #3d365c;
  --secondary: #7c4585;
  --white: #fff;
  --black: #000;
  --grey: #a1a1a1;
  --pink: #c95792;
  --orangeYellow: #f8b55f;
  --background: #fff;
}

* {
  align-items: center;
  font-family: "Roboto";
  margin: auto 0;
}

main:not(.scrollContainer) {
  min-height: 100vh;
  margin: 10px 3% 0 3%;
}

body {
  background-image: linear-gradient(180deg, var(--primary), var(--pink));
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

h5 {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  line-height: 1.8;
}
