/* Color palette */
:root {
  --primary: #0c134f;
  --secondary: #1d267d;
  --white: #fff;
  --black: #000;
  --grey: #a1a1a1;
  --purple: #5c469c;
  --light-purple: #d4adfc;
  --orangeYellow: #f8b55f;
  --background: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  align-items: center;
  font-family: "Roboto";
  margin: auto 0;
}

main:not(.scrollContainer) {
  min-height: 100vh;
  margin: 10px 3% 0 3%;
}

body {
  background-image: linear-gradient(
    150deg,
    var(--purple),
    var(--secondary),
    var(--primary),
    var(--purple),
    var(--secondary)
  );
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: clamp(5rem, 5vw, 8rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

h5 {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  line-height: 1.8;
}

.gradientText {
  background-image: linear-gradient(
    150deg,
    var(--light-purple),
    var(--orangeYellow)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.websiteBtn {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}

.projectHeader {
  margin-top: 180px;
}

.description {
  width: 100%;
  height: fit-content;
  display: grid;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.sectionOne {
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  color: var(--white);
  align-items: center;
}

section {
  width: 100%;
  min-height: 100vh;
  color: var(--white);
  justify-content: center;
  display: block;
}

.introContainer {
  width: 100%;
  height: fit-content;
  text-align: center;
}

.scrollContainer {
  width: 95%;
  height: auto;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  transform: translateY(-30px);
}

.bi-arrow-up-square-fill {
  color: var(--orangeYellow);
  font-size: 3rem;
  float: right;
  cursor: pointer;
}

.bi-arrow-up-square-fill:hover {
  color: var(--grey);
}
